body, html {
    font-size: 16;
    font-family: 'Gotham Narrow Book', Arial, 'Trebuchet MS';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}
body {
	line-height: 1;
	color: #fff;
}
.login-page{
	background-image: url('../img/login-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
}
.login-wrap header .top {
    padding: 10px;
    background: #e20514;
    text-align: right;
}
.container {
	width: 1160px;
	margin-right: 25px;
}
.login-wrap header .top a {
    color: white;
	font-size: 13px;
	font-size: 0.8125rem;
	font-family: 'Gotham Narrow';
	font-weight: bold;
	display: inline-block;
	margin-left: 20px;
}
.login-wrap .container {
    padding: 0 20px;
    z-index: 2;
}

.bottom_h{
	background: #fff;
	padding: 10px;
}
.bottom_h .ax-1 a img{
	width: 210px;
	height: 40px;
	margin-left: 50px;
	margin-top: 12px;
}
.bottom_h .ax-2 a img{
	width: 160px;
	height: 60px;
	margin-right: 50px;
}
.main div{
	text-align: center;
}
.inputs input{
	border-radius: 25px;
	height: 38px;
	margin-left: 110px;
	color: #adb1b3;
	width: 400px;
}
.btn-r{
	border-radius: 25px;
	color: #fff;
	height: 48px;
	width: 420px;
	background-color: #394347;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 15px;
}
.btn-r:hover{
	background-color: #fff;
	color: #000;
}
.para-1{
	color: #fff;
	font-size: 19px;
	padding-top: 25px;
}
.link_1{
	padding-bottom: 15px;
}
.link_1 a{
	color: #fff;
	font-weight: bold;
	font-size: 19px;
	z-index: 25;
	padding-bottom: 15px;
	padding: 0 15px;
}
#border{
	border-left: 0.5px solid rgb(255, 255, 255);
	opacity: 50%;
}
.div-center{
	margin: auto;
}
.link-2{
	color: #fff;
	text-decoration: underline;
	margin-right: 115px;
	padding: 15px 0;
}
.link-2:hover {
	color: #fff;
	text-decoration: underline;
}
.py-class{
	padding-top: 15px;
}
.d-bottom{
	margin: auto;
}
.btn-2{
	border-radius: 25px;
	color: #fff;
	height: 48px;
	width: 420px;
	border: 0.5px solid rgb(211, 211, 211);
	font-size: 15px;
	font-weight: bold;
}
.btn-2:hover{
	background-color: #fff;
	color: #000;
}
.border_top{
	border-top: 1px solid rgb(201, 201, 201);
	margin: 0 120px;
}

.form_control {
    height: calc(1.5em + .75rem + 2px);
    padding: 20px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
	outline: none;
	margin-right: 100px;
	text-align: left;
	width: 100%;
}
.input-c{
	margin-right: 120px;
}


  /* COSTUM FORM */

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
  }
  .cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
  }
  input.cmn-toggle-round + label {
	padding: 2px;
	width: 70px;
	height: 30px;
	background-color: #dddddd;
	border-radius: 60px;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
  }
  input.cmn-toggle-round + label:before {
	right: 1px;
	background-color: #95130d;
	border-radius: 60px;
	transition: background 0.4s;
  }


  input.cmn-toggle-round + label:after {
	width: 20px;
	height: 20px;
	background-color: #fff;
	margin: 4px;
	border-radius: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	transition: margin 0.4s;
  }


  input.cmn-toggle-round:checked + label:before {
	background-color: #8ce196;
  }
  input.cmn-toggle-round:checked + label:after {
	margin-left: 45px;
  }
  input.cmn-toggle-round-flat + label {
	padding: 2px;
	width: 120px;
	height: 60px;
	background-color: #dddddd;
	border-radius: 60px;
	transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:before,
  input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
  }
  input.cmn-toggle-round-flat + label:before {
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background-color: #fff;
	border-radius: 60px;
	transition: background 0.4s;
  }
  input.cmn-toggle-round-flat + label:after {
	top: 4px;
	left: 4px;
	bottom: 4px;
	width: 52px;
	background-color: #dddddd;
	border-radius: 52px;
	transition: margin 0.4s, background 0.4s;
  }
  input.cmn-toggle-round-flat:checked + label {
	background-color: #8ce196;
  }
  input.cmn-toggle-round-flat:checked + label:after {
	margin-left: 60px;
	background-color: #8ce196;
  }
  input.cmn-toggle-yes-no + label {
	padding: 2px;
	width: 70px;
	height: 30px;
  }
  input.cmn-toggle-yes-no + label:before,
  input.cmn-toggle-yes-no + label:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	font-family: "Roboto Slab", serif;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
  }
  input.cmn-toggle-yes-no + label:before {
	background-color: #dddddd;
	content: attr(data-off);
	transition: transform 0.5s;
	backface-visibility: hidden;
  }
  input.cmn-toggle-yes-no + label:after {
	background-color: #8ce196;
	content: attr(data-on);
	transition: transform 0.5s;
	transform: rotateY(180deg);
	backface-visibility: hidden;
  }
  input.cmn-toggle-yes-no:checked + label:before {
	transform: rotateY(180deg);
  }
  input.cmn-toggle-yes-no:checked + label:after {
	transform: rotateY(0);
  }


  /* main-right */
  .main-right{
	  margin-top: 50px;
  }
  .main-right a img{
	  width: 450px;
	  height: 60px;
	  margin: auto;
  }
  #img_11{
	width: 50px;
	height: 100px;
}
  #img_12{
	  width: 50px;
	  height: 100px;
  }

  .container-main{
	  border-radius: 25px;
	  margin-top: 25px;
	  background-image: url('../img/back.png');
	  background-size: cover;
	  color: #000;
  }
    /* Make the image fully responsive */
	.carousel-inner img {
		width: 100%;
		height: 100%;
	  }

 .style-p p{
	text-align: left;
	padding-left: 14px;
	margin-left: 15px;
 }
 .botom-img{
	padding: 15px;
	margin-right: 100px;
 }
 .btn_o{
	 border-radius: 25px;
 }
 .btn_o:hover{
	background: white;
}
.p-a{
	text-align: left;
}
.footer{
	background: #333;
	text-align: center;
	padding: 15px 0;
	bottom: 0;
	display: none;
}
.footer .footer-top a{
	color: rgb(148, 148, 148);
	font-size: 14px;
	padding-left: 15px;
}
.footer .footer-top{
	border-bottom: 0.3px solid rgb(85, 85, 85);
	padding-bottom: 15px;
}
#f-ax-1 {
	padding: 17px;
}
#f-ax-2 {
	padding: 17px;
}
.margin-p{
	margin: 50px 90px;
}

@media screen and (max-width:1420){
	.main-right{
		margin-top: 0;
		margin-right: 0px;
	}
	.container-main{
		width: 451px;
		height: 350px;
		border-radius: 25px;
		margin-top: 25px;
		background-image: url('../img/back.png');
		background-size: cover;
		margin-left: 67px;
		color: #000;
	}
	.inputs input{
		margin-left: 50px;
	}
}
@media screen and (max-width: 1280px) {
	.inputs input{
		margin-left: 88px;
	}
}
@media screen and (max-width: 1190px) {
	.inputs input{
		margin-left: 73px;
	}
@media screen and (max-width: 1100px) {
	.inputs input{
		margin-left: 45px;
	}
@media screen and (max-width: 1080px) {
	.inputs input{
		margin-left: 40px;
	}
	.login-wrap header .top a {
		font-size: 11px;
		margin-left: 18px;
	}
	.login-wrap header .top {
		margin-right: 150px;
	}
}

@media screen and (max-width: 959px) {
	.inputs input{
		margin-left: 107px;
	}
}
@media screen and (max-width: 890px) {
	.inputs input{
		margin-left: 97px;
	}
}

  @media screen and (max-width: 800px) {
	.inputs input{
		margin-left: 87px;
		margin-right: 50px;
	}
	.login-wrap header .top {
		display: none;
	}
	.footer{
		display: block;
	}
	.botom-img img{
		display: none;
	}
  }

}
@media screen and (max-width: 720px) {
	.inputs input{
		margin-right: 100px;
	}
	
}
  @media screen and (max-width: 680px) {
	.inputs input{
		margin-left: 0px;
		margin-right: 0;
	}
	.ax-2 {
		display: none;
	}
	.ax-1 {
		margin: auto;	
		margin-bottom: 5px;
	}
	.bottom_h{
		padding: 0px;
	}
  }